<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | HOME</title>
  <link rel="stylesheet" href="/styles/styles.css" />
</head>
<body>
  <header>
    <h1><a href="/">HOME</a></h1>
    <nav>
      <a href="/lab/">LAB WRITE UPS</a>
      <a href="/destinations/">BLOG</a>
      <a href="/contact/">CONTACT</a>
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
  <p>&copy; {{ site.currentYear }} Talent Nyta</p>
</footer>
</body>
</html>